@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
  --button-color: hsl(158, 36%, 37%);
  --bg-color: hsl(30, 38%, 92%);
  --h1-color: hsl(212, 21%, 14%);
  --p-color: hsl(228, 12%, 48%);
  --card-color: hsl(0, 0%, 100%);

  --Primary-font: 'Fraunces', serif;
  --Neutral-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 10px auto;
  padding: 0 30px;
}

.grid {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--card-color);
  border-radius: 15px;
  overflow: hidden;
}

.img img {
  max-width: 100%;
  display: inherit;
}

.card-contant {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h5.pro-cat {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1em;
  color: var(--p-color);
  font-weight: 500;
  font-family: var(--Neutral-font);
}

h1.pro-name {
  font-family: var(--Primary-font);
  font-size: 3em;
  line-height: 1em;
  color: var(--h1-color);
}

p.pro-des {
  line-height: 1.7em;
  font-size: 1.2em;
  color: var(--p-color);
  font-family: var(--Neutral-font);
}

.price {
  display: flex;
  align-items: center;
}

p.current-price {
  font-family: var(--Primary-font);
  color: var(--button-color);
  font-size: 2em;
  padding-right: 25px;
}

p.old-price {
  text-decoration: line-through;
  color: var(--p-color);
}

button.btn {
  background-color: var(--button-color);
  border: none;
  padding: 12px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  transition: background-color .4s ease;
}

button.btn:hover {
  background-color: #194131;
}

button.btn img {
  padding-right: 10px;
}

@media only screen and (max-width: 627px){
  .grid {
    grid-template-columns: 1fr;
  }

  .img img {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
  }

  .card-contant {
    display: block;
  }

  h5.pro-cat, h1.pro-name, p.pro-des, .price {
    padding-bottom: 24px;
  }
}

@media only screen and (max-width: 375px){
  .container {
    margin: 15px auto;
    padding: 0 15px;
  }

  .img img {
    max-height: 290px;
  }

  .card-contant {
    padding: 24px;
  }

  h5.pro-cat, h1.pro-name, p.pro-des, .price {
    padding-bottom: 18px;
  }

  h1.pro-name {
    font-size: 2em;
  }

  p.pro-des {
    font-size: 1em;
  }
}